.appBackground{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    
    
    overflow: hidden;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.particleContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none; /* Crucial: clicks pass through to your game */
  z-index: 0;
}

.particle {
  position: absolute;
  background: rgba(252, 252, 54, 0.647);
  border-radius: 50%;
  filter: blur(2px);
  animation: drift linear infinite;
}

@keyframes drift {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    
    transform: translate(100px, -150px) rotate(360deg);
    opacity: 0;
  }
}