


.gameWorld{
    background-color: none;
   
   
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   
    position:absolute;
   
    
    width:1960px;
    height:1960px;

}
.test{
    transform: translateX(-50%) translateY(-50%);
    position:absolute;
    top:980px;
    left:980px;
    
}



.coinDisplayPanel{
    display:flex;
    height:150px;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 10;
    font-family: honk,Aerial;
    font-size: 3em;

}
.coinDisplayPanel>img{
    width:100px;
    height:100px;
}

.coinPopout{
    z-index: 10;
    display:flex;
    position: fixed;
    background-color: rgba(0, 85, 255, 0.788);
    font-family: BGS,Aerial;
    font-size: 2.5em;
    width:40vw;
    border-radius: 20px;
    height:70px;
    justify-content: center;
    align-items: center;
    animation: coinPop 1s ease-in-out ;
    animation-fill-mode: forwards;
    transform:  translateX(-50%);
    top:5vh;
    left:50vw;

}
.coinPopout>img{
    width:60px;
    height:60px;
}
@keyframes coinPop {
    0%{
        opacity: 0;
        transform:  translateX(-50%) scaleX(2) scaleY(2);
    }
    30%{
        opacity: 1;
        transform: translateX(-50%);
    }
    100%{
        opacity: 0;
        transform:  translateX(-50%);
    }
    
}

@font-face {
    font-family: honk;
    src: url(../fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
}
@font-face {
    font-family: BGS;
    src: url(../fonts/BitcountGridSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}


.scoreDisplayPanel{
    display:flex;
    height:150px;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    top:0px;
    right:0px;
    z-index: 10;
    font-family: honk,Aerial;
    font-size: 2.5em;

}
.difficultyLevelDisplay{
    z-index: 11;
    position: fixed;
    background-color: rgba(255, 25, 0, 0.788);
    font-family: honk,Aerial;
    font-size: 2.5em;
    width:45vw;
    border-radius: 20px;
    height:auto;
    justify-content: center;
    align-items: center;
    animation: coinPop 2s ease-in-out ;
    animation-fill-mode: forwards;
    transform:  translateX(-50%);
    top:5vh;
    left:50vw;

}
@keyframes difficultyAnimation {
    0%{
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
    }
    50%{
        transform: translateX(-50%) ;
        opacity: 1;

    }
    100%{
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
    }
    
}




.gameOverScreen{
    position: fixed;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    font-family: honk;
    font-size: 2em;
    background-color: rgba(115, 115, 115, 0.627);
    z-index: 13;
    flex-direction: column;
}

.gameOverScreen >button{
    width:50vw;
    height:7%;
    margin-bottom:3%;
    border:none;
    background-color: rgba(255, 183, 0, 0.741);
    
    border-radius: 20px;
    font-family: honk,Aerial;
    font-size: 1.5em;
    
    font-weight: bold;
    
    
    border-bottom: 1px solid rgb(67, 56, 1);
    transform:none;

}
.gameOverScreen >button:hover{
    transform:translateX(-10px);
    border-bottom: 10px solid rgb(67, 56, 1);
}
.gameOverScreen >button:active{
    
    border-bottom: 1px solid rgb(67, 56, 1);
    transform:none;
}
.gameOverScreen >h1{
    text-align: center;
    
}
.gameOverScreen >h2{
    text-align: center;
    
}



.pauseScreen{
    position: fixed;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    font-family: honk;
    font-size: 2em;
    background-color: rgba(115, 115, 115, 0.627);
    z-index: 15;
    flex-direction: column;

}
.pauseButton{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:150px;
    height:150px;
    border-radius: 75px;
    background-color: rgba(235, 18, 18, 0.784);
    border: 10px solid rgb(255, 119, 0);
    bottom: 5px;
    right:5px;
    z-index: 12;
    font-family: honk,Aerial;
    font-size: 6em;


}
.pauseButton:hover{
    transform: scaleX(1.5) scaleY(1.5);
}
.pauseButton:active{
    transform: none;
}
.resumeGame{
    width:50vw;
    height:auto;
    margin-bottom:3%;
    border:none;
    background-color: rgba(22, 214, 1, 0.589);
    
    border-radius: 20px;
    font-family: honk,Aerial;
    font-size: 1.5em;
    
    font-weight: bold;
    
    
    border-bottom: 1px solid rgb(1, 67, 7);
    transform:none;

}
.resumeGame:hover{
    transform:translateX(-10px);
    border-bottom: 10px solid rgb(1, 67, 7);

}
.resumeGame:active{
     border-bottom: 1px solid rgb(1, 67, 7);
    transform:none;
}
.exitGame{
    width:50vw;
    height:auto;
    margin-bottom:3%;
    border:none;
    background-color: rgba(235, 12, 251, 0.589);
    
    border-radius: 20px;
    font-family: honk,Aerial;
    font-size: 1.5em;
    
    font-weight: bold;
    
    
    border-bottom: 1px solid rgb(67, 1, 58);
    transform:none;

}
.exitGame:hover{
    transform:translateX(-10px);
    border-bottom: 10px solid rgb(67, 1, 58);

}
.exitGame:active{
     border-bottom: 1px solid rgb(67, 1, 58);
    transform:none;
}
